/* Reset some default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  /* Create a flex container to hold the main content and footer */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes at least the full viewport height */
  }
  
  /* Style the footer */
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px 10;
    /* Set the footer to stick to the bottom */
    position: sticky;
    bottom: 0;
  }

  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  